<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPA</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <h1>Nome</h1>
    {{name}}
    <h1>Idade</h1>
    <h2></h2>
    <h1>Cidade</h1>
    <h2></h2>
    <h1>Hora</h1>
    <h2></h2>
    <h1>Dia</h1>
    <h2></h2>
    <h1>Selec</h1>
    <h2></h2>
    <!-- {%for dados in database%}
    <h1>Nome:{{dados.name}}</h1>
    <h1>Idade:{{dados.age}}</h1>
    <h1>Cidade:{{dados.city}}</h1>
    <h1>Hora:{{dados.hour}}</h1>
    <h1>Dia:{{dados.day}}</h1>
    <h1>selec:{{dados.selec}}</h1>
    {%endfor%} -->

    <h1>opa</h1>
    <a href="/outra">Outra pagina</a>
    <a href="/form">Form</a>
</body>

</html>